#title
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vmin;
}


.App-logo {
    height: 19vmin;
    pointer-events: none;
  }

#links{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  font-size: 5vmin;
  text-decoration: none;
  color: inherit;
  }

  #links>*{
    padding-bottom: 1ch;

    text-decoration: none;
    color: inherit;
    
  }